#
# Sequencing-specific information
#

# Sample list
FLIST=allIDs.txt

# directory for FASTQ files
FASTQ_DIR=/hpc/grid/ngsws/molmed/data/Dower/fastq

# suffix for fastq:  fq.gz or fastq.gz or fastq  or fq
FASTQ_SUFFIX=fq.gz

# stranded or nonstranded
STRAND=0     #0, no;  1: forward strandness;  2: reverse strandness


#
# Species-specific GenomeIndex and GTF
#

#rat
GENOME_FASTA=/hpc/grid/shared/ngsdb/fasta/rn6.fa
GENOME_INDEX=/hpc/grid/shared/ngsdb/STAR/rn6_ensembl80
GENOME_ANNOTATION=/hpc/grid/shared/ngsdb/annotation/ensembl/rn6_80.annot
GTF_FILE=/hpc/grid/shared/ngsdb/annotation/ensembl/rn6_80.gtf
BEDFILE=/hpc/grid/shared/ngsdb/annotation/ensembl/rn6_80.bed
CHR_REGION=20:1-56205956


#
##Software locations
#
STAR_RNA=/hpc/grid/shared/ngsapp/STAR_2.4.0h/bin/Linux_x86_64
FEATURECOUNTS=/hpc/grid/shared/ngsapp/subread-1.4.6/bin
RSeQC=/afs/grid.pfizer.com/mm/proj01/app/python/bin
VARSCAN_JAR=/hpc/grid/shared/ngsapp/bin/VarScan.v2.3.6.jar
LOGDIR=/hpc/grid/scratch/$USER/log
